extends site

block vars
	- var xnametags = ['About', 'junkShop', 'Beyond My Wall', 'Kilroy']
	- var xdesc = "Beyond My Wall is a project of Howard and Robin Stearns."

block content
	h1 About Us
	p junkShop is a community site by 
		a(href="http://alum.mit.edu/www/stearns") Howard
		span  and Robin Stearns and family. There is no company.
