extends site

block vars
	- var xnametags = ['Contact', 'junkShop', 'Beyond My Wall', 'kilroy']
	- var xdesc = "Contact information."

block content
	h1 Contact
	p To reach the people behind 
		a(href="/site/about") this site
		span , see Howard's 
		a(href="http://alum.mit.edu/www/stearns") personal page
		span  and 
		a(href="https://www.facebook.com/howardrstearns") Facebook.
