style(media="screen", type="text/css").
	.html-reporter { position: absolute; left: 610px; top: 300px; height: 3000px; } // How do we make this "big enough"?
link(rel='stylesheet', href='/statics/jasmine-2.0.0/jasmine.css')
script(type="text/javascript", src="/statics/jasmine-2.0.0/jasmine.js")
script(type="text/javascript", src="/statics/jasmine-2.0.0/jasmine-html.js")
script(type="text/javascript", src="/statics/jasmine-2.0.0/boot.js")
script(type="text/javascript", src="/browser/javascripts/test.js")
